*{
    padding:0px 0px;
    margin: 0px 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}
/* navber decorate...*/
#navber {
  
   border-top: 1px solid var(--gfg-darkgrey);
    box-shadow: 0 2px 20px -10px var(--gfg-head-shadow);
    min-height: 40px;
    background-color: rgb(255, 229, 250);
    display: flex;

    flex-direction: row;
    overflow: hidden;
    width: 100%;
    transition: top .3s ease;
    position: sticky;
    top: 0px;
    z-index: 1021 !important;
   
    
}
#nave_menu {
    list-style-type: none;
    margin: 24px;
    padding-top: 18px;
    
    display: flex;
}
.nav_element {
    margin: -6px 38px;
    padding: 10px 20px;

}
 .nav_element a{
    color: rgb(10, 7, 7);
    text-decoration: none;
    font-style:inherit;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
}
.nav_element a:hover{
    color: rgb(13, 11, 16);
}
.nav_element :active{
    text-decoration: underline;
    color: rgb(233, 255, 167);
    

}
@media(max-width:713px)

{
    .nav_element {
       
        
        padding-left:-500px;
    }
    #nave_menu{
        padding-left: -10px;
    }
    #navber{
        background-color:white;
    height: 72px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    }
    

}
/*footer decorate*/
footer{
    position: relative;
    display: block;
    top: 585px;
    bottom:0px;
    background: #b4a0a0;
    padding-top: 50px;
    box-shadow:0 4px 6px rgba(37, 26, 26, 0.1) ;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
   
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    color: rgb(12, 10, 6);
    text-align: center;
}
.footer-content p{
    padding: 2px 88px;

}

.footer-content ul{
    text-align: center;
}
.list{
    padding:100px;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #111253;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: rgb(0, 0, 0);
    padding: 2px 8px;
    font-size: 31px;
   
}
a{
    text-decoration: none;
}

.social-icons i:hover{
    color: #d2b8b8;
    transition: 0.5s;
  transition-property: inherit;
}
.bottom-bar{
    background: #000000;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #fff8f8;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
/*register button decorate*/
#btn{
    position: relative;
    left: 595px;
    border-radius: 5px;
    height: auto;
    width: 76px;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
}
#btn:hover{
    background-color: red;
    color: wheat;
    transition: 0.5s;

cursor: pointer;}
/* popup register page*/
.popup{
    
    
    color: white;
   
    position:sticky;
    
    display:none;
    justify-content: center;
    align-items: center;
    z-index:10;
    top: 314px;
}
.popup_element
{
    background-color: rgb(4, 0, 120);
    width: 256px;
    height: 500px;
    color: rebeccapurple;
    border-radius: 2px;
    position: absolute;
    padding: 10px;
    background-color: rgb(255, 243, 220);
    width: 423px;
    height: 271px;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    position: absolute;
    padding: 10px;
    box-shadow:0 4px 6px rgba(0,0,0,0.1) ;
    pointer-events: all;
    transform: translateY(0);
    
   

}
/*popup register button*/
#btn_1{
     
        top:82px;
        position: relative;
        left: 167px;
        border-radius: 5px;
        height: 39px;
        width: 92px;
        background-color: #d35c5c;
        color: rgb(255, 244, 244);
        font-size: 17px;
}
#btn_1:hover{
    background-color: red;
    color: wheat;
    transition: 0.5s;

cursor: pointer;}
/*closer in popup */
.closer{
    position: relative;
    height: 24px;
    top: -18px;
    left: 429px;
    width: 28px;
    border-radius: 50px;
}
.closer:hover{
    cursor: pointer;
    transition: 0.5s;
}
/* popup image*/
.popup_image{
    position: relative;
    height: 30px;
    empty-cells:50px;
}
/* section Hero bakground image*/
#s_hero{
    display:flex;
   flex-direction: column;
    background: url(/Assets/bakground_image.jpg);
    background-attachment: fixed;
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 5px solid black;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    bottom: 0px;

    
    
    align-items: center;
    justify-content: center;
    

}


/*section modify*/
#h_1{position: relative;
    top:49px;
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    color: #8c4bb7;
    text-shadow: 2px 2px #50005b;
    animation-name: example_1;
    animation-duration: 1.5s;
  animation-iteration-count: infinite;
    
}
@keyframes example_1 {
    from { color: #9b8080;
        text-shadow: 2px 2px #e3ec82;}
    to{ color: #d5b8ea;
        text-shadow: 2px 2px #f1ff70;}}
  
#h_2
{font-size: 38px;
    position: relative;
    top:  49px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    color: #d89d9d;
    text-shadow: 2px 2px #00a4cd;
    animation-name: example_2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
/* add animation*/
@keyframes example_2 {
    from { color: #d89d9d;
        text-shadow: 2px 2px #00a4cd;}
    to{ color: #5c02a1;
        text-shadow: 2px 2px #d8eaef;}}
  
#h_3
{font-size: 32px;
    position: relative;
    top:  49px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: revert-layer;
    color: #3e3131;
    text-shadow: 2px 2px #eef606;
    animation-name: example_3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;}
    @keyframes example_3 {
        from { color: #d89d9d;
            text-shadow: 2px 2px #00a4cd;}
        to{ color: #9568b8;
            text-shadow: 2px 2px #00a4cd;}}
      
#h_4{
    position: relative;
    top:  49px;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: revert-layer;
    color: #3e3131;
    text-shadow: 2px 2px #517d9d;
    animation-name: example_4;
    animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes example_4 {
    from { color: #3020e2;
        text-shadow: 2px 2px #ffffff;}
    to{ color: #22ff2d;
        text-shadow: 2px 2px #d0e8ee;}}
  

/* para in section*/
#para{
    position: relative;
    top:  49px;
    font-size: 17px;
    color: #000000;
}
.Q_code{
    position: relative;
    top:  49px;
    height: 148px;
    width: 141px;
    
}
#btn_2{
    position: relative;
    background-color: red;
    color: black;
    border-radius: 5px;
    box-shadow: 4px 7px 3px rgb(44, 12, 12);
    height: auto;
    width: 139px;
    background-color: #dbff0e;
    color: black;
    font-size: 30px;
    top:  49px;
    transition: 0.5s;
   
}
#btn_2:hover{
    background-color: #000000;
    color: yellow;
    cursor: pointer;
    box-shadow: 4px 7px 3px rgb(214, 91, 255);
}
#para_1{
    position: relative;
    top: 51px;
    font-size: 17px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 3px 102px;
    margin: 9px 280px;
    padding-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: -33px;
    


}

