/* all responsive for  cricket card */
/* Medium devices (tablets, small desktops) */
@media screen and (max-width: 1699px) {
    #card_cricket {
        margin-left: 31vw;
    }

}

@media screen and (max-width: 1299px) {
    #card_cricket {
        margin-left: 20vw;
    }

    #card_back_btn_1 {
        left: 12vw;
    }
}

/* Small devices (phones) */
@media screen and (max-width: 900px) {
    #card_cricket {
        margin-left: 1vw;
    }

    #card_back_btn_1 {
        left: 31vw;
    }
}

/*cricket card */
@media screen and (max-width: 769px) {
    #card_cricket {
        margin-left: 15vw;
    }

    #card_back_btn_1 {
        left: 20vw;
    }
}

@media screen and (max-width: 481px) {
    #card_cricket {
        margin-left: 15vw;
    }

    #card_back_btn_1 {
        left: 16vw;
    }
}
/* @media screen and (max-width: 559px) {
    .team-member{
        width: 40vw;
        height:55vw;
    }

} */
/* college title */
@media screen and (max-width: 1140px) {
    #s_hero {
        margin-top: 10vh;
    }

}
@media screen and (max-width: 481px) {
    #s_hero {
        margin-top: -5vh;
    }
}

@media screen and (max-width:768px) {
    #h_2 {
        font-size: 3.5vw;
    }

}

@media screen and (max-width:481px) {
    #h_2 {
        font-size: 3.7vw;
    }

}

@media screen and (max-width:768px) {
    #college_d {
        font-size: 3.5vw;
        top:-100px;
       
    }

}

@media screen and (max-width:768px) {
    #h_5 {
        font-size: 6.5vw;
        padding-top: 1vh;

    }

    #h_3 {
        font-size: 5vw;
        padding-top: 2vh;
    }

    #para {
        margin-top: -8vh;
    }
}
@media screen and (max-width:480px) {
    #h_5 {
        font-size: 7vw;
        padding-top: 1vh;

    }

    #h_3 {
        font-size: 5vw;
        padding-top: 2vh;
    }
}
/* Rules button */
@media screen and (max-width:563px) {
    
#card_back_btn_1 {
    top:-2.8vh;
}

}
/* navigation menu */
@media screen and (max-width:769px) {
    .nav_element a {
        font-size: 3vw;
        padding-left: 4vw;
    }

    #nave_menu img {
        width: 10vw;
        height: 9vw;
        padding-top: 0.2em;
    }
}
@media screen and (max-width:480px) {
    #card_back_btn_1 {
    /* height:4em; */
    width: 95px;
    padding: 0.5rem 1rem;
    }
}
/* game section responsive  */
@media screen and (max-width:2992px) {
    .card-container{
        margin-left: auto;
        margin-right: auto;

    }
    #card_back_btn_1 {
        margin-left:-4vw;
    }

    #contact
    {
       margin-left:3vw;
    }
    .footer-content {
      
        padding: 25px 9vw 0;
    }
   

}
@media screen and (max-width:1700px) {
    #card_back_btn_1 {
        margin-left:1vw;
    }
    #contact
    {
       margin-left:3vh;
    }
    .footer-content {
      
        padding: 25px 9vw 0;
    }


}
@media screen and (max-width:1318px) {
    #contact
    {
       margin-left:3vh;
    }
    .footer-content {
      
        padding: 25px 3vw 0;
    }
}
@media screen and (max-width:768px) {
    #contact{
    margin-left: 1vh;
    }
}
